* {
  margin: 0;
  padding: 0;
}

.container {
  background: #edf5fe;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.img {
  width: 25%;
  height: 300px;
  margin-top: 215px;
  margin-left: 90px;
}

.wrapper {
  width: 600px;
  height: 400px;
  margin: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e7e9f5;
  border-radius: 16px;
  /* border: 3px dotted #a3a3a3; */
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #445A6F;
  margin: 40px 0;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}

.upload {
  margin-right: 12px;
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.img1 {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}